@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

body{
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a, span, li, button {
  font-family: 'outfit', sans-serif;
  color: #ffffff;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
