/* Main Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 10vh;
    position: fixed;
    z-index: 9999;
    width: 100%;
    /* background-color: #000; */
    /* add background to avoid overlap */
    color: white;
}

nav .logo h1 {
    font-size: 24px;
    font-weight: bold;
}

nav .hamburger {
    display: none;
    cursor: pointer;
}

/* Desktop Menu */
nav .menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Mobile styles */
@media (max-width: 700px) {
    nav .hamburger {
        display: block;
    }

    nav .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10vh;
        left: -100%;
        width: 100%;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.95);
        gap: 30px;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    nav .menu.active {
        left: 0;
    }
}



nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

nav .menu a:hover {
    color: #00bfff;
    /* or any highlight color */
}
