/* At the top of RecordStyle.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Then your styles below */


:root {
  --primary: #1aac83;
  --error: #e7195a;
  --accent: #FFA500;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}


body{
  background-color: #f1f1f1;
  font-family: "Poppins";
}

a{
  text-decoration: none;
}
